<launch>

  <arg name="gui" default="true" />
  <param name="robot_description" textfile="$(find snakebot_v1)/urdf/snakearm.urdf" />  
  <param name="use_gui" value="$(arg gui)"/>
  
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="joint_state_publisher" pkg="snakebot_v1" type="src/circle_SevenJointPublisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find snakebot_v1)/rviz/threeJoints.rviz" required="true"/>
  <node name="showpath" pkg="snakebot_v1" type="src/showpath" args="headlink"/>
  
</launch>
